<!DOCTYPE html>
<html>

<head>
  <title>Уведомление о массовом инциденте</title>
</head>

<body>

  <i>Номер уведомления в системе: <%= mi_id %></i></br></br>
  <p><b></b>Уведомляем Вас о следующей проблеме: "<%= commet %>" на сетях станции: <%= station %>.</b></br>
    В связи с проблемой прошу <b>не производить прием заявок </b> из города(станции): <b><%= city %> по следующим адресам: <%= addr %></br>
  </br></p>
  <p> Проблема обнаружена в <%= ts %>.</br>
    Ориентировочное время устранения: <%= te %></br></br></p>

  <p>Информацию передал: <%= from %></br>
      Контактный телефон: <%= phone %></br></br>
        
        <i>Информация передана через Систему "Network Support"</i></p>
</body>

</html>