<!DOCTYPE html>
<html>

<head>
  <title>Уведомление о массовом инциденте</title>
</head>

<body>


  <p>Уведомляем Вас о следующей проблеме: "<%= commet %>" на сетях станции: <%= station %>.</br>
        В связи с проблемой прошу не производить прием заявок из: <%= city %> по следующим адресам: <%= addr %></br>
            Проблема обнаружена в <%= ts %>. Ориентировочное время устранения: <%= te %></br></br></p>

  <p>Информацию передал: <%= from %></br>
      Контактный телефон: <%= phone %></br></br>
        <i>Номер уведомления: #<%= _id %></i></br></br>
        <i>Информация передана через Систему "Network Support"</i></p>
</body>

</html>